body{
    color:white;
}
a{
    text-decoration: none;
    color: honeydew;
}
a:hover{
    color: rgb(210, 223, 210);
}

.h1{
    font-size: 5rem;
    text-align: center;
}
.logo{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    height: 580px;
    /* border: 1px solid white; */
    
}

.col4{
    width: 80%;
    border-radius: 10px;
}
.col8{
    width: 100%;
    border-radius: 10px;
}

.portfolio-title{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
.portfolio-col{
    border-radius: 20px;
}

.portfolio-col:hover{
    border: 1px solid gray;
}


@media only screen and (max-width: 576px) {
    .h1{
        font-size: 3.5rem;
        text-align: center;
    }
    .h3{
        font-size: 1rem;
        text-align: center;
        color: rgb(151, 192, 192);
    }
    .banner{
        height: 550px;
    }
  }






